@import './variables';
@import './fonts';
@import './mixins';
@import './common';


@import './core/header';
@import './core/footer';


@import './pages/login';
@import './pages/dashboard';
@import './pages/company';