.app-content {
    .dashboardPage {
        .totalOutPut {
            background-color: rgba(255, 250, 235, 1);
            display: flex;
            padding: 16px;
            border-radius: 16px;
            gap: 20px;

            &.totalOutPutCompanies {
                .icon {
                    background-color: rgba(255, 149, 0, 0.1);
                }
            }

            &.totalOutPutRevenue {
                .icon {
                    background-color: rgba(52, 199, 89, 0.1);
                }
            }

            &.totalOutPutProfit {
                .icon {
                    background-color: rgba(175, 82, 222, 0.1);
                }
            }

            &.totalOutPutScore {
                .icon {
                    background-color: rgba(185, 230, 254, 1);
                }
            }

            .icon {
                border-radius: 17px;
                width: 59px;
                height: 59px;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .iconContent {
                p {
                    color: rgba(102, 112, 133, 1);
                    font-size: 12px;
                    font-weight: 500;
                    margin-bottom: 6px;
                }

                h5 {
                    color: rgba(52, 64, 84, 1);
                    font-size: 24px;
                    font-weight: 600;

                    span {
                        color: rgba(102, 112, 133, 1);
                        font-size: 12px;
                        font-weight: 500;
                        margin-bottom: 0px;
                    }
                }
            }
        }

        .companyTiles {
            background-color: rgba(249, 245, 255, 1);
            border-radius: 16px;
            padding: 24px;
            margin-top: 20px;

            &.companyTilesTwo {
                background-color: rgba(254, 243, 242, 1);
            }

            &.companyTilesThree {
                background-color: rgba(236, 253, 243, 1);
            }

            .companyTilesHeader {
                margin-bottom: 16px;

                h4 {
                    color: rgba(0, 0, 0, 1);
                    font-size: 12px;
                    font-weight: 500;
                    margin: 0;
                }

                p {
                    color: rgba(102, 112, 133, 1);
                    font-size: 12px;
                    font-weight: 500;
                    margin: 0;
                }
            }

            .companyTilesBody {
                .comapnyReportsRow {
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 5px;

                    .compLeftTitle {
                        color: rgba(102, 112, 133, 1);
                        font-size: 12px;
                        font-weight: 400;
                    }

                    .compRightValye {
                        color: rgba(102, 112, 133, 1);
                        font-size: 12px;
                        font-weight: 500;
                    }
                }
            }
        }
    }
}