.app-content {
    .boxes-Row {
        margin: 30px 0px;

        .boxesDashboard {
            background-color: #EBF5FF;
            border-radius: 16px;
            padding: 16px;

            h5 {
                font-size: 14px;
                font-weight: 600;
                color: #4B5563;
                margin: 0;
            }

            h2 {
                color: #1F2A37;
                font-size: 30px;
                font-weight: 600;
                margin-bottom: 0;
                margin-top: 20px;
            }
        }
    }

    .patientDetails {
        .articles-rows {
            .articlesHeader {}

            .patent-Body {
                background: #FFF8F1;
                border-radius: 16px;
                padding: 16px;
                margin-bottom: 20px;
            }

            .appointmentListMainRow {
                background-color: #F9FAFB;
                border-radius: 16px;
                padding: 16px;

                .appointmentListHeader {
                    display: flex;
                    gap: 16px;
                    margin-bottom: 20px;

                    .title {
                        h5 {
                            color: #6B7280;
                            font-size: 14px;
                            margin: 0;
                            font-weight: 600;
                        }
                    }

                    .title-Diagnosis {
                        margin-right: auto;
                        margin-left: 10%;
                    }
                }

                .appointmentList {
                    display: flex;
                    gap: 15px 10px;
                    margin-bottom: 20px;

                    .img-icon {
                        width: 41px;
                        height: 41px;

                        img {
                            border-radius: 100%;
                        }
                    }

                    .Diagnosis {
                        margin-right: auto;
                        margin-left: 10%;

                        h4 {
                            color: #1E429F;
                            font-size: 14px;
                            font-weight: 600;
                            margin-bottom: 0px;
                        }

                        p {
                            color: #9CA3AF;
                            font-size: 12px;
                            font-weight: 500;
                            margin: 0;
                        }
                    }

                    .Time {
                        background-color: #EBF5FF;
                        padding: 10px;
                        color: #1C64F2;
                        font-size: 12px;
                        font-weight: 600;
                        cursor: pointer;

                        &.onGoing {
                            background-color: #FEECDC
                        }
                    }

                    .actionsSection {
                        display: flex;
                        gap: 5px;

                        span {
                            display: flex;
                            padding: 4px 8px;
                            width: 32px;
                            height: 24px;
                            align-items: center;
                            justify-content: center;
                            border-radius: 4px;
                            cursor: pointer;

                            &.check {
                                background-color: #C3DDFD;

                                svg {
                                    fill: #1A56DB;
                                }
                            }

                            &.cancel {
                                background-color: #E5E7EB;

                                svg {
                                    fill: #9B1C1C;
                                }
                            }

                            &.chats {
                                background-color: #BCF0DA;

                                svg {
                                    fill: #1A56DB;
                                }
                            }

                            svg {
                                width: 14px;
                                height: 14px;
                            }
                        }
                    }

                }


                .react-calendar {
                    width: 100%;
                    max-width: 100%;
                    background: transparent;
                    border: 0;
                    font-family: inherit;
                    line-height: normal;
                }


            }

            .patientDetailsBody {
                background-color: #F9FAFB;
                border-radius: 16px;
                padding: 16px;

                .patentNameID {
                    display: flex;
                    gap: 50px;
                    margin-bottom: 20px;

                    .patentName {
                        h4 {
                            color: #1E429F;
                            font-size: 14px;
                            margin: 0;
                            font-weight: 600;
                        }

                        p {
                            color: #9CA3AF;
                            font-size: 12px;
                            font-weight: 500;
                        }
                    }

                    .patentID {
                        h4 {
                            color: #1E429F;
                            font-size: 14px;
                            margin: 0;
                            font-weight: 600;
                        }

                        p {
                            color: #9CA3AF;
                            font-size: 12px;
                            font-weight: 500;
                        }
                    }
                }

                .patentDetails {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 20px 20px;

                    .detailsColum {
                        width: 28%;

                        h4 {
                            color: #4B5563;
                            font-size: 12px;
                            margin: 0;
                            font-weight: 600;
                        }

                        p {
                            color: #9CA3AF;
                            font-size: 12px;
                            font-weight: 500;
                        }
                    }
                }

                .PatientHistory {
                    margin-top: 20px;

                    h4 {
                        color: #6B7280;
                        font-size: 12px;
                        font-weight: 600;
                        margin: 0;
                    }

                    .PatientHistoryView {
                        margin-top: 5px;

                        span {
                            color: #8A2C0D;
                            font-size: 10px;
                            background-color: #FEECDC;
                            border-radius: 4px;
                            padding: 6px 10px;
                            margin-right: 5px;
                            display: inline-block;
                            cursor: pointer;
                            font-weight: 600;
                        }
                    }
                }

                .document {
                    margin-top: 20px;

                    h4 {
                        color: #6B7280;
                        font-size: 12px;
                        font-weight: 600;
                        margin: 0;
                    }

                    .documentView {
                        margin-top: 5px;

                        span {
                            background-color: #EDF0FC;
                            border: 1px solid #4F7BF1;
                            color: #4F7BF1;
                            font-size: 10px;
                            border-radius: 4px;
                            padding: 6px 10px;
                            margin-right: 5px;
                            display: inline-block;
                            cursor: pointer;
                            font-weight: 600;
                        }
                    }
                }

                .patents-review-row {
                    .patents-review-col {
                        display: flex;
                        align-items: center;
                        gap: 0px 20px;
                        padding: 10px 0px;

                        .patents-review-content {
                            color: #6B7280;
                            font-size: 12px;
                            font-weight: 500;
                            width: 80px;
                        }

                        .patents-review-value {
                            color: #6B7280;
                            font-size: 12px;
                            font-weight: 500;
                            margin-left: auto;
                        }

                        .patents-review-loader {
                            width: 220px;

                        }
                    }
                }
            }

            &.appointmentRequest {
                .Diagnosis {
                    margin-left: 0 !important;
                }
            }

        }

    }
}