.login-page {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;

    .left-section {
        width: 50%;
        height: 100%;
        background: url('../../images/login/loginBanner.png');
        background-repeat: no-repeat;
        padding: 30px 30px;

        .custome-coursole {
            width: 100%;
            margin-bottom: auto;
            margin-top: auto;
            position: relative;

            .coursole-para {
                padding: 50px;

                p {
                    color: #fff;
                }
            }

        }
    }

    .right-section {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        padding: 50px 50px;

        .logo-section-login {
            margin-bottom: 50px;
        }

        .login-section {
            width: 350px;

            h4 {
                text-align: center;
                color: $primaryColor;
                line-height: 30px;
                font-size: 20px;
                font-weight: 700;
                margin-bottom: 40px;
            }

            .loginFeilds {
                .feilds {
                    margin-bottom: 20px;

                    &.remember-forgot {
                        display: flex;

                        .rememberMe {
                            margin-right: auto;
                            padding: 0;

                            label {
                                font-size: 14px;
                                display: flex;
                                gap: 0px 5px;
                                cursor: pointer;
                                color: #111928;
                            }
                        }

                        .forgot-text {
                            font-size: 12px;
                            font-weight: 500;
                            color: rgba(52, 64, 84, 1);
                            cursor: pointer;
                            margin-left: auto;
                        }
                    }

                    label {
                        font-size: 12px;
                    }

                    input {
                        font-size: 14px;
                    }
                }

                .dontHaveAccRequestAdmin {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-bottom: 20px;

                    p {
                        color: #4B5563;
                        font-weight: 500;
                        font-size: 14px;
                    }

                    .requestAdmin {
                        color: #1A56DB;
                        font-weight: 500;
                        font-size: 14px;
                        cursor: pointer;
                        text-decoration: underline;
                    }
                }

            }
        }
    }
}